<h1>Listing articles</h1>

<table id="articles">
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'article', collection: @articles %>
  </tbody>
</table>

<div id="new-article">
  <%= link_to 'New article', new_article_path, id:"new_article", remote:true %>
</div>
